spring:
    application:
        name: sbb
    datasource:
        url: jdbc:postgresql://localhost:5432/sbb
        username: postgres
        password: 12345678
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:                
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true


